<table class="table table-striped">
    <thead>
        <tr>
            <th ng-repeat="column in options.columns" class="col-md-2">{{column.title}}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in data">
            <td ng-repeat="column in options.columns">{{row[column.field]}}</td>
            <td></td>
        </tr>
    </tbody>
</table>

<div class="btn-group pull-right" role="group" aria-label="...">
    <button ng-click="go(1)" ng-disabled="page == 1" type="button" class="btn btn-default"><i class="fa fa-fast-backward"></i></button>
    <button ng-click="go(page - 1)" ng-disabled="page == 1" type="button" class="btn btn-default"><i class="fa fa-step-backward"></i></button>
    <button ng-repeat="button in pageButtons" ng-click="go(button)" type="button" class="btn btn-default" ng-class="{active:button == page}">{{button}}</button>
    <button ng-click="go(page + 1)" ng-disabled="page == total / pageSize" type="button" class="btn btn-default"><i class="fa fa-step-forward"></i></button>
    <button ng-click="go(total / pageSize)" ng-disabled="page == total / pageSize" type="button" class="btn btn-default"><i class="fa fa-fast-forward"></i></button>
</div>
