<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <title><%=title%></title>
    <link rel="stylesheet" href="css/<%=name%>.css"/>
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,400italic,700,700italic,800,800italic,300,300italic' rel='stylesheet' type='text/css'>
</head>

<body class="<%=name%>" style="font-family: 'Merriweather Sans', sans-serif;">

<ng-include src="'partials/navbar.html'"></ng-include>

<div class="body">
    <ui-view></ui-view>
</div>
<% for (var i = 0; i < scripts.length; i++) { %>
<script src=" <%= scripts[i] %>"></script>
<% } %>

</body>
</html>