<div class="navbar-mazoos">
	<nav ng-controller="Navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<ul class="nav navbar-nav navbar-left">
				<li ng-class="{'active' : isActive('/')}"><a href="#/">Accueil</a></li>
				<li><div class="nav-separator"></div></li>
				<li ng-class="{'active' : isActive('/search')}"><a href="#/search">Recherche</a></li>
				<li ng-if="user"><div class="nav-separator"></div></li>
				<li ng-class="{'active' : isActive('/relations')}" ng-if="user"><a href="#/relations">Relations</a></li>
				<li ng-if="user"><div class="nav-separator"></div></li>
				<li ng-class="{'active' : isActive('/discussions')}" ng-if="user">
					<a href="#/discussions">Discussions<span class="label label-primary">2</span></a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-center">
				<li>
					<a class="nav-logo"><img src="images/logo.png"></a>
				</li>
			</ul>
			<ul ng-controller="Security" class="nav navbar-nav navbar-right">
				<li ng-if="user">
					<a href="#/profile/{{user.username}}">{{user.username}}</a>
				</li>
				<li class="navbar-thumb" ng-if="user">
					<img ng-src="/photo/{{user.albums[0].photos[0]._id}}/thumb"/>
				</li>
				<li class="settings">
					<a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gear fa-lg"></i></a>
					<ul class="dropdown-menu dropdown-menu-right" role="menu">
						<li ng-if="!user" ><a href="" ng-click="login()">Login</a></li>
						<li ng-if="!user"><a href="" ng-click="register()">Register</a></li>
						<li ng-if="user"><a ng-href="#/profile/{{user.username}}">Profile</a></li>
						<li ng-if="user"><a href="" ng-click="logout()">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</div>