<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="font-family: 'Merienda One', cursive;">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">
                <a href="/">{{title}}</a>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar-collapse-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
            <ul class="nav navbar-nav">
                <li ng-repeat="menu in menus" ui-sref-active="active" ng-class="{dropdown : menu.menus}">
                    <a ng-if="menu.route" ui-sref="{{menu.route}}" href="">{{menu.title}}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="user">
                    <a href="">{{user.firstName}} {{user.lastName}}</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle"><i class="fa fa-gear fa-lg"></i></span></a>
                    <ul ng-controller="Security" class="dropdown-menu" role="menu">
                        <li ng-if="!user"><a href="" ng-click="login()">Login</a></li>
                        <li ng-if="!user"><a href="" ng-click="register()">Register</a></li>
                        <li ng-if="user"><a ng-href="#/profile/{{user.username}}">Profile</a></li>
                        <li ng-if="user"><a href="" ng-click="logout()">Logout</a></li>
                        <li><a ui-sref="settings">Settings</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
