<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">
			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		</button>
		<h4 class="modal-title" id="myModalLabel">Login</h4>
	</div>
	<div class="modal-body">
	
		<form role="form">
			<div class="form-group">
				<input ng-model="credentials.username" type="text" class="form-control" placeholder="Enter username" />
			</div>
			<div class="form-group">
				<input ng-model="credentials.password" type="password" class="form-control" placeholder="Password" />
			</div>
		</form>
	
	</div>
	<div class="modal-footer">
		<a href="/facebook">Facebook</a>
		<button ng-click="cancel()" type="button" class="btn btn-default">Cancel</button>
		<button ng-click="login()" type="button" class="btn btn-primary">Login</button>
	</div>
</div>
