<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">
			<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
		</button>
		<h4 class="modal-title text-primary" id="myModalLabel"><i class="ace-icon fa fa-users blue"></i>
		Inscription</h4>
	</div>
	<div class="modal-body">

		<div ng-show="facebookInfo"><img ng-src="{{facebookInfo.picture.data.url}}" />{{facebookInfo.name}}</div>
	
		<form role="form" name="registerForm">
			<div class="form-group" ng-class="{'has-error' : !registerForm.email.$valid && visited.email}">
				<div class="input-group">
					<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
					<input name="email" ng-model="info.email" ng-blur="visited.email=true" type="text" class="form-control" placeholder="Courriel" required />
				</div>
				<div ng-show="registerForm.email.$error.required && visited.email">Requis</div>							
				<div ng-show="registerForm.email.$error.email && visited.email">Invalide</div>							
			</div>
			<div class="form-group" ng-class="{'has-error' : !registerForm.username.$valid && visited.username}">
				<div class="input-group">
					<div class="input-group-addon"><i class="fa fa-user"></i></div>
					<input name="username" ng-model="info.username" ng-blur="visited.username = true" 
						ng-minlength="6" ng-maxlength="20" maxlength="20" type="text" class="form-control" 
						placeholder="Nom d'utilisateur" required unique-username />
				</div>
				<div ng-show="registerForm.username.$error.required && visited.username">Requis</div>							
				<div ng-show="registerForm.username.$error.minlength && visited.username">Trop petit</div>							
				<div ng-show="registerForm.username.$error.uniqueUsername && visited.username">Nom déjà utilisé</div>							
			</div>
			<div ng-if="!facebookInfo" class="form-group" ng-class="{'has-error' : !registerForm.password.$valid && visited.password}">
				<div class="input-group">
					<div class="input-group-addon"><i class="fa fa-lock"></i></div>
					<input name="password" ng-model="info.password" ng-blur="visited.password = true" type="password" class="form-control" ng-minlength="6" ng-maxlength="20" maxlength="20" placeholder="Mot de passe" required />
				</div>
				<div ng-show="registerForm.password.$error.required && visited.password">Requis</div>							
				<div ng-show="registerForm.password.$error.email && visited.password">Invalid</div>							
				<div ng-show="registerForm.password.$error.minlength && visited.password">Trop petit</div>							
			</div>
			<div ng-if="!facebookInfo" class="form-group" ng-class="{'has-error' : !registerForm.passwordVerify.$valid && visited.passwordVerify}">
				<div class="input-group">
					<div class="input-group-addon"><i class="fa fa-lock"></i></div>
					<input name="passwordVerify" ng-model="info.passwordCopy" ng-blur="visited.passwordVerify = true" type="password" class="form-control" placeholder="Mot de passe" required password-verify="info.password" />
				</div>
				<div ng-show="registerForm.passwordVerify.$error.required && visited.passwordVerify">Requis</div>							
				<div ng-show="registerForm.passwordVerify.$error.passwordVerify && visited.passwordVerify">Mot de passes différents</div>							
			</div>
			<div class="checkbox">
				<label>
					<input ng-model="info.accept" type="checkbox"> I accept the <a href="#">User Agreement</a>
				</label>
  			</div>
		</form>

		<div class="social-login center">
			<a href="/facebook" class="btn btn-primary">
				<i class="fa fa-facebook"></i>
			</a>
			<a class="btn btn-info">
				<i class="ace-icon fa fa-twitter"></i>
			</a>
			<a class="btn btn-danger">
				<i class="ace-icon fa fa-google-plus"></i>
			</a>
		</div>

	</div>
	<div class="modal-footer">
		<button ng-click="cancel()" type="button" class="btn btn-default">Annuler</button>
		<button ng-disabled="!registerForm.$valid || !info.accept" ng-click="register()" type="button" class="btn btn-primary">S'inscrire</button>
	</div>
</div>
